<script src="https://cdnjs.cloudflare.com/ajax/libs/airbrake-js/0.5.9/client.min.js"></script>
<script>
  var airbrake = new airbrakeJs.Client({projectId:1,projectKey:'txrx',host:window.location.origin});
  window.onerror = airbrake.onerror;
  airbrake._reporters = [];
  airbrake._log = [];
  airbrake.log = function(s) {
    if (s && s.toString) { s = s.toString() }
    airbrake._log.push(s);
  }
  airbrake.addReporter(function(notice) {
    var request = new XMLHttpRequest();
    request.open("POST", "/js_error/" , true);
    request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    notice.context.log = airbrake._log;
    var form_data = new FormData();
    form_data.append('data', JSON.stringify(notice));
    request.send(form_data);
    airbrake._log = [];
  });
  function makeError() { arst() }
</script>
